# Day 5: Visualization

In [3]:
from pathlib import Path

import pandas as pd

In [4]:
path = Path('data/movielens/')

# reading
movies = pd.read_csv(path / 'movies.csv', index_col='movieId')
links = pd.read_csv(path / 'links.csv', index_col='movieId')
movies = movies.merge(links, how='inner', left_index=True, right_index=True)

# casting
movies['title'] = movies['title'].astype('string')
movies['genres'] = movies['genres'].astype('string')
movies['imdbId'] = movies['imdbId'].astype('int32')
movies['tmdbId'] = movies['tmdbId'].astype('Int32')
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9742 entries, 1 to 193609
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   9742 non-null   string
 1   genres  9742 non-null   string
 2   imdbId  9742 non-null   int32
 3   tmdbId  9734 non-null   Int32
dtypes: Int32(1), int32(1), string(2)
memory usage: 572.0 KB

## Descriptive Statistic

In [5]:
movies.describe()

             imdbId         tmdbId
count  9.742000e+03    9734.000000
mean   6.771839e+05   55162.123793
std    1.107228e+06   93653.481487
min    4.170000e+02       2.000000
25%    9.518075e+04    9665.500000
50%    1.672605e+05   16529.000000
75%    8.055685e+05   44205.750000
max    8.391976e+06  525662.000000

## Time Series

In [6]:
from pathlib import Path

ratings = pd.read_csv('data/movielens/ratings.csv')
ratings.info() # 2022-04-28

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [16]:
ratings['parsed_time'] = pd.to_datetime(ratings['timestamp'], unit='s')
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   userId       100836 non-null  int64
 1   movieId      100836 non-null  int64
 2   rating       100836 non-null  float64
 3   timestamp    100836 non-null  int64
 4   parsed_time  100836 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 3.8 MB

### Filters

In [15]:
ratings['parsed_time'] > '2015-01-01'
ratings['parsed_time'].dt.year == 2017

0         False
1         False
2         False
3         False
4         False
          ...
100831     True
100832     True
100833     True
100834     True
100835     True
Name: parsed_time, Length: 100836, dtype: bool