# Uber Fares

Dataset je úspešne ukradnutý z [Kaggle](https://www.kaggle.com/datasets/yasserh/uber-fares-dataset/data). Sťahovať ho môžete [odtiaľto](data/uber.csv).

![obrazok](images/uber.jpg)

## Načítanie datasetu

In [1]:
import pandas as pd

df = pd.read_csv('data/uber.csv', index_col=0, parse_dates=['pickup_datetime'])

okrem načítania:
* premenujeme niekoľko stĺpcov
* pretypujeme stĺpce na menšie údajové typy
* odstránime duplicitný stĺpec
* odstránime riadky, ktoré nemajú hodnotu

In [2]:
# cleanup a priprava
df.drop(columns=['key'], inplace=True)
df.rename(
    columns={
        'passenger_count': 'passengers',
        'fare_amount': 'fare',
        'pickup_datetime': 'dt'
    },
    inplace=True
)
df.dropna(inplace=True)

In [3]:
# zmazanie riadkov, kde cena je menej ako 0

In [4]:
# zmazanie riadkov, kde pocet pasazierov je vacsi ako 10

In [ ]:
# zmazanie riadkov, kde longitude nie je v rozmedzi <-180, 180>

In [ ]:
# zmazanie riadkov, kde latitude nie je v rozmedzi <-90, 90>

In [5]:
# pretypovanie stĺpcov
df['passengers'] = df['passengers'].astype('uint8')
df['fare'] = df['fare'].astype('float32')
df['pickup_latitude'] = df['pickup_latitude'].astype('float32')
df['pickup_longitude'] = df['pickup_longitude'].astype('float32')
df['dropoff_latitude'] = df['dropoff_latitude'].astype('float32')
df['dropoff_longitude'] = df['dropoff_longitude'].astype('float32')

## Prehľad

In [6]:
# pohlad na vlastnosti datasetu
df.describe()

,fare,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passengers
count,199999.000000,199999.000000,199999.000000,199999.000000,199999.000000,199999.000000
mean,11.359891,-72.527631,39.935881,-72.525292,39.923890,1.684543
std,9.901760,11.437815,7.720558,13.117408,6.794829,1.385995
min,-52.000000,-1340.648410,-74.015515,-3356.666300,-881.985513,0.000000
25%,6.000000,-73.992065,40.734796,-73.991407,40.733823,1.000000
50%,8.500000,-73.981823,40.752592,-73.980093,40.753042,1.000000
75%,12.500000,-73.967154,40.767158,-73.963658,40.768001,2.000000
max,499.000000,57.418457,1644.421482,1153.572603,872.697628,208.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199999 entries, 24238194 to 11951496
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   fare               199999 non-null  float32
 1   dt                 199999 non-null  datetime64[ns, UTC]
 2   pickup_longitude   199999 non-null  float64
 3   pickup_latitude    199999 non-null  float64
 4   dropoff_longitude  199999 non-null  float64
 5   dropoff_latitude   199999 non-null  float64
 6   passengers         199999 non-null  uint8
dtypes: datetime64[ns, UTC](1), float32(1), float64(4), uint8(1)
memory usage: 10.1 MB

In [8]:
df

,fare,dt,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passengers
24238194,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1
27835199,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1
44984355,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1
25894730,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3
17610152,16.0,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...
42598914,3.0,2012-10-28 10:49:00+00:00,-73.987042,40.739367,-73.986525,40.740297,1
16382965,7.5,2014-03-14 01:09:00+00:00,-73.984722,40.736837,-74.006672,40.739620,1
27804658,30.9,2009-06-29 00:42:00+00:00,-73.986017,40.756487,-73.858957,40.692588,2
20259894,14.5,2015-05-20 14:56:25+00:00,-73.997124,40.725452,-73.983215,40.695415,1
11951496,14.1,2010-05-15 04:08:00+00:00,-73.984395,40.720077,-73.985508,40.768793,1

## Otázky

1. Koľko peňazí sme zarobili za dané obdobie?

In [9]:
# tak kolko?

2. Koľko peňazí sme zarobili za jednotlivé roky?
   Poznámka: tu môžete nakresliť aj pekný obrázok

In [10]:
# tak kolko?

3. V ktorom mesiaci v roku 2013 bolo najviac jázd?

In [11]:
# tak v ktorom?

4. V ktorom mesiaci v roku 2014 bolo najviac jázd?

In [12]:
# tak v ktorom?

5. V ktorý deň za uvedené obdobie bolo prevezných najviac pasažierov?

In [13]:
# tak v ktorý?